<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="cordova-plugin-mlkit-textrecognition"
    version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>TextRecognition</name>
    <description>Cordova MLKit TextRecognition Plugin</description>
    <license>Apache 2.0</license>

    <js-module name="TextRecognition" src="www/TextRecognition.js">
        <clobbers target="cordova.plugins.mlkit.textrecognition" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TextRecognition">
                <param name="android-package" value="org.apache.cordova.mlkit.textrecognition.TextRecognition" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>

        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
        </config-file>

        <source-file src="src/android/TextRecognition.java" target-dir="src/org/apache/cordova/mlkit/textrecognition/" />

        <framework src="com.google.android.gms:play-services-mlkit-text-recognition:19.+" />
        <framework src="com.google.android.gms:play-services-mlkit-text-recognition-chinese:16.+" />
        <framework src="com.google.android.gms:play-services-mlkit-text-recognition-devanagari:16.+" />
        <framework src="com.google.android.gms:play-services-mlkit-text-recognition-japanese:16.+" />
        <framework src="com.google.android.gms:play-services-mlkit-text-recognition-korean:16.+" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="TextRecognition">
                <param name="ios-package" value="CDVTextRecognition" />
            </feature>
            <preference name="deployment-target" value="16.1" />
        </config-file>

        <header-file src="src/ios/CDVTextRecognition.h"/>
        <source-file src="src/ios/CDVTextRecognition.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods use-frameworks="true">
                <pod name="MLKitTextRecognition" spec="~> 7.0" />
                <pod name="MLKitTextRecognitionChinese" spec="~> 6.0" />
                <pod name="MLKitTextRecognitionDevanagari" spec="~> 6.0" />
                <pod name="MLKitTextRecognitionJapanese" spec="~> 6.0" />
                <pod name="MLKitTextRecognitionKorean" spec="~> 6.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
